* {
	box-sizing: border-box;
}

body {
background: #EECDA3;  /* fallback for old browsers */
background: linear-gradient(to top, #EF629F, #EECDA3); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
font-family: 'Montserrat', sans-serif;
	display: flex;
	align-items: center;
	justify-content: center;
	margin: 0;
  min-height: 100vh;
}
.container{
  background-color:#ffffff;
  height: 80vh;
  width: 90vw;
  margin: auto; 
  display: flex;
}
.header{
  background-color: #616161;
  color: #ffffff;
  display: flex;
  flex: 3;
  flex-direction: column;
  justify-content:space-evenly;
  padding: 3%;
}
.header h1{
  position: relative;
}

.header h1::after {
	background-color: #EECDA3;
	content: '';
	position: absolute;
	bottom: -10px;
	left: 0;
	height: 5px;
	width: 30%;
}
.author{
  display: flex;
  align-items: center;
}
.author img{
  border-radius: 50%;
  box-shadow: 10px 8px 5px 0px rgba(0,0,0,0.63);
  margin-right: 5%;
  height: 100px;
}
.content{
  background-color: #ffffff;
  flex:4;
  padding: 2% 2% 2% 2%;
}
.text{
  overflow: auto;
  height: 100%;
  color: #616161;
}
.text h2::first-letter{
  font-size: 200%;
  font-weight: bold;
}
@media screen and (max-width: 800px) {
	.blog-container {
		flex-direction: column;
		height: auto;
	}
}